[user]
    name = Roberto Flores
    email = fq211776@alumno.udb.edu.sv
	signingkey = ????
[commit]
	gpgsign = true
[credential]
	helper = manager-core
[core]
	longpaths = true
[tag]
	forceSignAnnotated = true
[ghq]
  root = E:\_0_\
